<div class="ronin-chat-card ability-roll-card">
  <div class="card-header {{rollResult}}">
    <img class="profile-img" src="{{actor.img}}" title="{{actor.name}}" width="36" height="36"/>
    <h3>{{actor.name}} - {{abilityName}} {{localize "RONIN.Rolls.Check"}}</h3>
  </div>
  
  {{#if description}}
  <div class="card-description">
    <p>{{description}}</p>
  </div>
  {{/if}}
  
  <div class="card-roll-result">
    <div class="roll-formula">
      <span class="formula">1d20 ({{d20Result}}) + {{abilityValue}} {{#if modifierText}}{{modifierText}}{{/if}} = <strong>{{totalResult}}</strong> vs DR {{difficultyRating}}</span>
    </div>
    
    <div class="roll-outcome {{rollResult}}">
      {{#if isCrit}}
        <h3 class="crit">{{localize "RONIN.Rolls.CriticalSuccess"}}!</h3>
      {{else if isFumble}}
        <h3 class="fumble">{{localize "RONIN.Rolls.CriticalFailure"}}!</h3>
      {{else if isSuccess}}
        <h3 class="success">{{localize "RONIN.Rolls.Success"}}</h3>
      {{else}}
        <h3 class="failure">{{localize "RONIN.Rolls.Failure"}}</h3>
      {{/if}}
    </div>
  </div>
</div>
