<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
    <div class="header-fields">
      <h1 class="item-name">
        <input name="name" type="text" value="{{item.name}}" placeholder="Name"/>
      </h1>
    </div>
  </header>

  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="description">Description</a>
    <a class="item" data-tab="attributes">Attributes</a>
  </nav>

  <section class="sheet-body">
    <div class="tab" data-group="primary" data-tab="description">
      <editor class="item-description" name="data.description" target="data.description" button=true owner={{owner}} editable={{editable}}>{{{data.description}}}</editor>
    </div>

    <div class="tab" data-group="primary" data-tab="attributes">
      <div class="weapon-properties">
        <div class="form-group">
          <label>Damage Dice</label>
          <input type="text" name="data.damage" value="{{data.damage}}" data-dtype="String"/>
        </div>
        
        <div class="form-group">
          <label>Type</label>
          <select name="data.weaponType">
            <option value="melee" {{#if (eq data.weaponType "melee")}}selected{{/if}}>Melee</option>
            <option value="ranged" {{#if (eq data.weaponType "ranged")}}selected{{/if}}>Ranged</option>
          </select>
        </div>
        
        <div class="form-group">
          <label>Equipped</label>
          <input type="checkbox" name="data.equipped" {{#if data.equipped}}checked{{/if}}/>
        </div>
        
        <div class="form-group">
          <label>Quantity</label>
          <input type="number" name="data.quantity" value="{{data.quantity}}" min="0"/>
        </div>
        
        <div class="form-group">
          <label>Price (Ryo)</label>
          <input type="number" name="data.price" value="{{data.price}}" min="0"/>
        </div>
      </div>
    </div>
  </section>
</form>
