<header class="sheet-header">
  <div class="header-grid">
    <!-- Imagem do Personagem (1/3 da largura) -->
    <div class="character-img">
      <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}"/>
    </div>
    
    <!-- Informações Básicas (1/2 da largura) -->
    <div class="basic-info">
      <h1 class="character-name">
        <input name="name" type="text" value="{{actor.name}}" placeholder="Name"/>
      </h1>
      
      <div class="character-class">
        <input name="data.class" type="text" value="{{data.class}}" placeholder="Class"/>
      </div>
      
      <div class="resources-grid">
        <!-- HP -->
        <div class="resource hp">
          <label>HP</label>
          <div class="resource-value">
            <input name="data.resources.hp.value" type="number" value="{{data.resources.hp.value}}" min="0"/>
            <span class="separator">/</span>
            <input name="data.resources.hp.max" type="number" value="{{data.resources.hp.max}}" min="0"/>
          </div>
        </div>
        
        <!-- Texts -->
        <div class="resource texts">
          <label>Texts</label>
          <input name="data.resources.texts.value" type="number" value="{{data.resources.texts.value}}" min="0"/>
        </div>
        
        <!-- Virtues -->
        <div class="resource virtues">
          <label>Virtues</label>
          <input name="data.resources.virtues.value" type="number" value="{{data.resources.virtues.value}}" min="0"/>
        </div>
        
        <!-- Ryo -->
        <div class="resource ryo">
          <label>Ryo</label>
          <input name="data.resources.ryo.value" type="number" value="{{data.resources.ryo.value}}" min="0"/>
        </div>
      </div>
    </div>
    
    <!-- Honor (metade inferior da coluna central) -->
    <div class="honor-section">
      <label>Honor</label>
      <div class="honor-track">
        {{#times 20}}
          <input type="radio" name="data.resources.honor.value" id="honor-{{this}}" value="{{this}}" {{#if (eq ../data.resources.honor.value this)}}checked{{/if}}>
          <label for="honor-{{this}}" class="honor-dot {{#if (lte this 9)}}dishonor{{/if}}">{{this}}</label>
        {{/times}}
      </div>
    </div>
    
    <!-- Abilities (1/6 da largura) -->
    <div class="abilities-column">
      <div class="ability vigor">
        <label>VIG</label>
        <input name="data.abilities.vigor.value" type="number" value="{{data.abilities.vigor.value}}" min="-3" max="6"/>
      </div>
      
      <div class="ability swiftness">
        <label>SWI</label>
        <input name="data.abilities.swiftness.value" type="number" value="{{data.abilities.swiftness.value}}" min="-3" max="6"/>
      </div>
      
      <div class="ability spirit">
        <label>SPI</label>
        <input name="data.abilities.spirit.value" type="number" value="{{data.abilities.spirit.value}}" min="-3" max="6"/>
      </div>
      
      <div class="ability resilience">
        <label>RES</label>
        <input name="data.abilities.resilience.value" type="number" value="{{data.abilities.resilience.value}}" min="-3" max="6"/>
      </div>
    </div>
  </div>
  
  <!-- Botões de Ação -->
  <div class="action-buttons">
    <button class="button-broken">BROKEN</button>
    <button class="button-rest">REST</button>
    <button class="button-seppuku">SEPPUKU</button>
    <button class="button-get-better">GET BETTER</button>
  </div>
</header>
